svg {
  display: block;
  margin: 0 auto;
}
.d3-axis path,
.d3-axis line {
  fill: none;
  shape-rendering: crispEdges;
}
.d3-axis text {
  fill: #808080;
}
.d3-x.d3-axis path,
.d3-x.d3-axis line {
  stroke: #808080;
}
.d3-x.d3-axis text {
  font-size: 14px;
}
.d3-y.d3-axis path,
.d3-y.d3-axis line {
  stroke: white;
}
.d3-y.d3-axis text {
  font-size: 14px;
}
.d3-pool-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  fill: #808080;
  baseline-shift: 30%;
}
.d3-rect-fill.d3-fill-darkest {
  fill: #dce4e7;
}
.d3-rect-fill.d3-fill-dark {
  fill: #e3eaed;
}
.d3-rect-fill.d3-fill-light {
  fill: #f2f4f6;
}
.d3-rect-fill.d3-fill-lighter {
  fill: #e9eff1;
}
.d3-rect-fill.d3-fill-lightest {
  fill: #f8f9fa;
}
.d3-rect-carbs {
  fill: #ffd382;
}
.d3-bolus.d3-rect-bolus {
  fill: #79d0f2;
}
.d3-bolus.d3-path-bolus {
  stroke: #79d0f2;
  fill: none;
}
.d3-bolus.d3-path-extended {
  stroke: #79d0f2;
}
.d3-bolus.d3-path-extended-triangle {
  stroke: #79d0f2;
  fill: #79d0f2;
}
.d3-bolus.d3-rect-recommended {
  fill: #bcecfa;
}
.d3-cbg.d3-circle-cbg {
  pointer-events: all;
}
.d3-cbg.d3-circle-cbg.d3-bg-low {
  fill: #ff8b7c;
}
.d3-cbg.d3-circle-cbg.d3-bg-target {
  fill: #9ad859;
}
.d3-cbg.d3-circle-cbg.d3-bg-high {
  fill: #bb9ae7;
}
.d3-tooltip .d3-tooltip-text {
  fill: #989897;
  font-size: 11px;
  text-anchor: middle;
  dominant-baseline: central;
}
.d3-tooltip .d3-tooltip-text.d3-smbg {
  font-size: 14px;
  font-weight: bold;
}
.d3-tooltip .d3-tooltip-rect {
  fill: #f8f9fa;
  opacity: 0.5;
}
