@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#tideline {
  background-color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
#tideline #tidelineNav {
  background-color: #989897;
}
#tideline #tidelineNav .tidelineNavLabel {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  color: white;
}
#tideline #tidelineNav .tidelineNavLabel.inactive {
  font-weight: normal;
}
#tideline #tidelineNav .tidelineNavRightLabel {
  text-align: right !important;
}
#tideline #tidelineNav .tidelineSpacer {
  display: inline-block;
  width: 8px;
}
#tideline #tidelineNav #tidelineLabel {
  text-align: center;
}
#tideline #tidelineNav #tidelineLabel img {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
}
#tidelineContainer {
  margin: 0 auto;
  height: 80vh;
}
