svg {
  display: block;
  margin: 0 auto;
}
.d3-axis path,
.d3-axis line {
  fill: none;
  shape-rendering: crispEdges;
}
.d3-axis text {
  fill: #808080;
}
.d3-x.d3-axis path,
.d3-x.d3-axis line {
  stroke: #808080;
}
.d3-x.d3-axis text {
  font-family: sans-serif;
  font-size: 2vh;
}
.d3-y.d3-axis path,
.d3-y.d3-axis line {
  stroke: white;
}
.d3-y.d3-axis text {
  font-family: sans-serif;
  font-size: 2vh;
}
.d3-pool-label {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5vh;
  fill: #808080;
  baseline-shift: 30%;
}
.d3-rect-fill.d3-fill-darkest {
  fill: #dce4e7;
}
.d3-rect-fill.d3-fill-dark {
  fill: #e3eaed;
}
.d3-rect-fill.d3-fill-light {
  fill: #f2f4f6;
}
.d3-rect-fill.d3-fill-lighter {
  fill: #e9eff1;
}
.d3-rect-fill.d3-fill-lightest {
  fill: #f8f9fa;
}
.d3-bolus.d3-rect-bolus {
  fill: #79d0f2;
}
.d3-bolus.d3-path-recommended.d3-higher {
  fill: none;
  stroke: #79d0f2;
}
.d3-bolus.d3-path-recommended.d3-lower {
  fill: none;
  stroke: white;
}
.d3-bolus.d3-path-recommended.d3-lower-triangle {
  fill: white;
  stroke: none;
}
.d3-rect-carbs {
  fill: #ffd382;
}
.d3-cbg.d3-bg-low,
.d3-smbg.d3-bg-low {
  fill: #ff8b7c;
}
.d3-cbg.d3-bg-target,
.d3-smbg.d3-bg-target {
  fill: #9ad859;
}
.d3-cbg.d3-bg-high,
.d3-smbg.d3-bg-high {
  fill: #bb9ae7;
}
